.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.heading{
    padding-top: 20px;
}

.about__timer{
    padding-top:20px;
    width:70%;
    text-align:center;
    line-height: 25px; 
    margin-bottom:40px;  
}

@media (max-width:768px){
    
}